<% layout('layout/boilerplate') -%>
<form action="/loginViaGoogle" method="POST">

    <input type="text" name="identityInput" >
    <input type="text" value=<%= currentUser.googleId  %> name="googleid" hidden>
    <button >SUBMIT</button>

    
</form>
<script>
    const inputt=document.querySelector("#inputt");
    localStorage.setItem('identityInput', inputt);


</script>