
<!-- 
 <!DOCTYPE html>
<html lang="en"> -->

<% layout('layout/boilerplate') -%>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


<body class=" text-center text-white bg-dark" style="display: flex !important ; flex-direction: column !important ;background-image: url('');color:black !important; font-size: 25px;">
    <div class="cover-container d-flex w-100 h-100  mx-auto flex-column" style="margin-top: 50px;" >

                  <% if(currentUser){ %>
                      <%=currentUser.totalItems  %>
                    <% } %>
                </ul>
                </ul>
                <% if(!currentUser){ %>
                  <ul id="abc">
                    <li id="li"><a href="/login" id="a">Login</a></li>
                    <li id="li"><a href="/register" id="a">SignUp</a></li>
                  </ul>
                <% }else{ %>
                    <ul style="display: flex;align-items: center;justify-content: center;padding-top: 7px;">
                      <li id="li" ><i class="fa-solid fa-user fa-xl"></i><a href="userProfile" style="text-decoration: none;color:white; text-align: center;;">
                        <%= currentUser.username  %> 
                      </a></li>
                      <li id="li"><a href="/logout" id="a">Logout</a></li>
                    </ul>
                <% } %>
              </div>
            </div>
        </nav> 
        
        <main class="px-3" >
            <h1>Shopping Cart</h1>
            <p class="lead" > Welcome to Shopping Cart! <br> Jump right in and explore our many products. <br>
                Feel free to add some of your own and comment on others!</p>
        </main>

        <footer class="mt-auto text-white-50" style="font-size: 20px;">
            <p>All Right Reserved &copy; 2023 </p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

</body>

</html>