<form action="/verify-otp" method="POST">

    <input type="text" name="phoneNumber" placeholder="phoneNumber">
    <input type="number" name="otp" placeholder="OTP">
    <button>VERIFY OTP</button>

</form>